<section
  class="w-75 mx-auto bg-light p-3 rounded-3 shadow my-3"
  *ngIf="carts; else msg"
>
  <h2>Shop Cart</h2>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <p class="text-main">
        Total Price: {{ carts.totalCartPrice | currency : " EGP " }}
      </p>
    </div>
    <div>
      <button (click)="removeAllCart()" class="btn btn-sm btn-outline-danger">
        Clear Cart
      </button>
    </div>
  </div>
  <div class="row my-2 border-bottom" *ngFor="let item of carts.products">
    <div class="col-md-1">
      <img [src]="item.product.imageCover" class="w-100" alt="" />
    </div>
    <div class="col-md-11">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h3 class="h5">
            {{ item.product.title.split(" ").slice(1, 10).join(" ") }}
          </h3>
          <p class="text-main m-0">
            Price : {{ item.price | currency : " EGP " }}
          </p>
          <button class="btn p-0 m-0" (click)="removeItem(item.product._id)">
            <i class="fa-solid fa-trash-can text-main"></i> Remove
          </button>
        </div>
        <div>
          <button
            (click)="updateCount(item.product._id, item.count + 1)"
            class="btn border border-success"
          >
            +
          </button>
          <span class="p-2">{{ item.count }}</span>
          <button
            (click)="updateCount(item.product._id, item.count - 1)"
            class="btn border border-success"
          >
            -
          </button>
        </div>
      </div>
    </div>
  </div>
  <button [routerLink]="['/checkout', carts._id]" class="btn-main">
    Online Payment <img src="../../../assets/images/visa-1.svg" alt="" />
  </button>
</section>
<ng-template #msg>
  <h2 class="text-center text-main">Your Cart is Empty!</h2>
</ng-template>
