<section class="bg-main-light w-100">
  <div class="container pt-3">
    <h1 class="fw-light">Get The Fresh Cart App</h1>
    <p class="text-muted">We Well Send You a Link</p>
    <div class="row">
      <div class="col-md-10">
        <div class="item">
          <input type="email" placeholder="Email" class="form-control" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="item">
          <button class="btn-main">Share App Link</button>
        </div>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <div class="d-flex mt-2">
        <div>
          <h3 class="fw-light pt-2 mx-1">Payment Partners</h3>
        </div>
        <div class="">
          <img
            src="./assets/images/visa-1.svg"
            class="d-inline cursor-pointer"
          />
          <img
            src="./assets/images/master.svg"
            class="d-inline cursor-pointer"
          />
          <img src="./assets/images/visa.svg" class="d-inline cursor-pointer" />
        </div>
      </div>
      <div class="d-flex">
        <div class="">
          <h3 class="fw-light pt-3 me-2">Get deliveries with FreshCart</h3>
        </div>
        <div class="">
          <img
            src="./assets/images/128x128.png"
            class="d-inline cursor-pointer me-1 top"
          />
          <img
            src="./assets/images/google.png"
            class="d-inline cursor-pointer top"
          />
        </div>
      </div>
    </div>
  </div>
</section>
